<div class="col align-center mb-5">
  <h2>MyDashboard : <span>  </span>   {{user_name}} </h2>
  <div class="col-md-10">
    {{#each blogs as |blog| }}
        {{> blogdash-details logininfo=../logininfo}}
    {{/each}}

    {{#each comments as |comment|}}
      {{>comment-details logininfo=../logininfo}}
    {{/each}}

  </div>
</div>