<div class="col align-center mb-5">
  <h2>{{user_name}} <span> {{user_id}}  </span> MyDashboard</h2>
  <div class="col-md-10">
    {{#each blogs as |blog| }}
        {{> blog-details}}
    {{/each}}

  </div>
</div>